
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; 
}


head {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3em; 
    font-weight: bold; 

 img {
  width: 300px;
  border-style: solid;
  border-color: #00bcff;
  border-radius: 20px;
  margin: 5px;
}
}



